<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
</head>
<body>
	<div class="container">
		<h1>Employee Management System</h1>
		<hr>
		<h2>Update Employee</h2>
		<form action="#" th:action="@{/admin/employee/saveEmployee}" th:object="${employee}" method="post">
		    <!-- Add hidden form field to handle update -->
		    <input type="hidden" th:field="*{id}" />
		    <input type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="Employee Name" />
		    <input type="date" th:field="*{dateOfBirth}" class="form-control mb-4 col-4" placeholder="Date of Birth" />
		    <input type="text" th:field="*{position}" class="form-control mb-4 col-4" placeholder="Position" />
		    <input type="number" th:field="*{salary}" class="form-control mb-4 col-4" placeholder="Salary" />
		    <button type="submit" class="btn btn-info col-2">Update Employee</button>
		</form>

		<hr>
		<a th:href="@{/admin/employee}">Back to Employee List</a>
	</div>

</body>
</html>